.warna-putih {background-color: white;} 
.warna-hijau {background-color: rgb(34, 167, 116);} 
.tab-link-highlight {display: none; } 
.teks-hijau {color: #16a085}
.teks-putih {color: #ffffff}
.gambar-slider {width: 90%; border-radius: 10px; margin: 0px 5% 0px 5%; }
.baris-icon {margin: 0px 5% 15px 5%;}
.besar-icon {width: 100%;} 
.teks-tengah {text-align: center;}
.font17{font-size: 17px;}